<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <rewrite>
      <rules>

        <!-- 🔥 1. PROXY AL BFF -->
        <rule name="BFF Proxy" stopProcessing="true">
          <match url="^bff/shell/(.*)" />
          <action type="Rewrite" url="http://192.168.100.49:3001/bff/{R:1}" />
        </rule>

        <!-- 🔥 2. SPA REACT -->
        <rule name="SPA React Router" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>

      </rules>
    </rewrite>

  </system.webServer>
</configuration>